<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Food Matching Game
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Food Matching Game</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Welcome to food matching game!</strong>
    <p>Using the <a target="_blank" rel="noopener noreferrer" href="https://github.com/surhud004/Foodish#readme">Foodish
        API</a></p>
    <ion-button expand="block" routerLink="/level1" routerDirection="forward">
      Level 1
    </ion-button>
  </div>

</ion-content>